<h1><%= @product.name %></h1>
<h2>Select Options</h2>
<%= form_with model: @order_item, url: order_items_path, method: :post, id: "product-form",
  data: { controller: "product-variant", product_variant_id_value: @product.id, has_variants_value: @product.option_types.any? } do |f| %>
  <% if @product.option_types.any? %>
    <% @product.option_types.each do |option_type| %>
      <div>
        <%= label_tag option_type.name %>
        <%= select_tag "options[#{option_type.id}]", options_from_collection_for_select(option_type.option_values, :id, :value),
          class: "option-select",
          data: { target: "product-variant.select", action: "change->product-variant#fetchVariant", option_type_id: option_type.id } %>
      </div>
    <% end %>
    <%= f.label :quantity %>
    <%= f.number_field :quantity,
            value: @order_item.quantity.to_i || 1,
            min: 1 %>
    <%= f.hidden_field :product_variant_id, id: "selected-variant-id", data: { target: "product-variant.variantId" } %>
  <% else %>
    <%= f.label :quantity %>
    <%= f.number_field :quantity,
            value: @order_item.quantity.to_i || 1,
            min: 1 %>
    <%= f.hidden_field :product_variant_id, value: @product.master_variant&.id , data: { target: "product-variant.variantId" } %>
  <% end %>
  <p id="variant-price" data-target="product-variant.price">
    <% if @product.option_types.any? %>
      Select options to see price
    <% else %>
      Price: $<%= @product&.master_variant_price %>
    <% end %>
  </p>
  <%= f.submit "Add to Cart", disabled: @product.option_types.any?, id: "add-to-cart-btn", data: { target: "product-variant.submitButton" } %>
<% end %>
