<%= form_with(
      model: @order_item,
      class: "contents",
      data: {
        controller: "variant-selection",
        variant_selection_base_price_value: @product.formatted_price.to_f,
        variant_selection_variants_value: @product.variants_json
      }
    ) do |form| %>
  <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">
    <%= @product.name %>
  </h1>

  <% if @product.has_variants? %>
    <% @product.option_types.each do |option_type| %>
      <h2 class="mt-8 text-base text-gray-900">
        <%= option_type.name.capitalize %>
      </h2>
      <div class="flex flex-wrap items-center gap-1 mt-3 select-none option-type-container">
        <% option_type.option_values.each do |option_value| %>
          <% matching_variants = @product.find_matching_variants(option_value) %>
          <% if matching_variants.any? %>
            <%= render 'variant_option_label', 
                option_type: option_type, 
                option_value: option_value, 
                matching_variants: matching_variants 
            %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p class="text-yellow-600">No variants available for this product.</p>
  <% end %>

  <h2 class="mt-8 text-base text-gray-900">Quantity</h2>
  <div class="flex flex-wrap items-center gap-1 mt-3 select-none">
    <%= form.hidden_field :product_variant_id,
        id: 'selected-variant-id',
        data: {
          'variant-selection-target': 'selectedVariantId'
        } %>
    <%= form.number_field :quantity,
        class: "w-16",
        value: @order_item.quantity.to_i || 1,
        min: 1,
        id: "quantity-input",
        data: {
          'variant-selection-target': 'quantityInput',
          'action': 'change->variant-selection#quantityChanged'
        } %>
  </div>

  <div class="mt-4">
    <p class="text-xl font-bold">
      Price:
      <span id="dynamic-price"
            data-variant-selection-target="dynamicPrice">
        <%= @product.formatted_price %>
      </span>
    </p>
    <p id="dynamic-stock"
       data-variant-selection-target="dynamicStock"
       class="text-sm font-medium text-gray-600"></p>
    <p id="selected-variant-sku"
       data-variant-selection-target="selectedVariantSku"
       class="text-sm text-gray-600"></p>
    <p id="variant-selection-error"
       data-variant-selection-target="variantSelectionError"
       class="text-sm text-red-600"></p>
  </div>

  <div class="flex flex-col items-center justify-between py-4 mt-10 space-y-4 border-t border-b sm:flex-row sm:space-y-0">
    <%= form.button type: "submit", class: "inline-flex items-center justify-center px-12 py-3 text-base font-bold text-center text-white transition-all duration-200 ease-in-out bg-gray-900 border-2 border-transparent rounded-md bg-none focus:shadow hover:bg-gray-800" do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-3 shrink-0" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
      </svg>
      Add to cart
    <% end %>
  </div>

  <ul class="mt-8 space-y-2">
    <li class="flex items-center text-sm font-medium text-left text-gray-600">
      <svg class="block w-5 h-5 mr-2 text-gray-500 align-middle" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z" class=""></path>
      </svg>
      Free shipping worldwide
    </li>
    <li class="flex items-center text-sm font-medium text-left text-gray-600">
      <svg class="block w-5 h-5 mr-2 text-gray-500 align-middle" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z" class=""></path>
      </svg>
      Cancel Anytime
    </li>
  </ul>
<% end %>